<html>
  <head>
    <title>Medicall</title>
  </head>
  <body>
    <header class="header">
      <img class="header__logo" src="https://placehold.it/40x40" alt="Logo">
      <div class="header__menu">
        <h2>
          <a href="#">Home</a>
          <a href="#">Profile</a>
        </h2>
      </div>
      <div class="header__login-container">
        {% if user.is_authenticated %}
          User: {{ user.get_username }}
          |
          <a href="{% url 'logout'%}?next={{request.path}}">
            Logout
          </a>
        {% else %}
          <a href="{% url 'login'%}?next={{request.path}}">
            Login
          </a>
          |
          <a href="{% url 'signup' %}?next={{request.path}}">
            Sign Up
          </a>
        {% endif %}
        <!-- <a class="header__username" href="#">John Doe</a> -->
        <!-- | -->
        <!-- <a class="header__logout" href="#">Log out</a> -->
        <!-- | -->
        <!-- <a class="header__signup" href="signup">Sign Up</a> -->
      </div>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>
